body{
	background-color: #FFF;
	font-family: 'Playfair Display', serif;
}

#quote h1{
	font-family: 'Playfair Display', serif;
	text-align: center;
}

div#quote{
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	width: 500px;
	margin: 40px auto;
	text-align: center;
}

#rButtons{
	width: 100%;
	margin: 20px auto;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#plotBox{
	width: 600px;
	height: 600px;
  	
	margin: auto;
}

#tooltip{
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: #FFF;

	font-family: 'Raleway', sans-serif;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);

	pointer-events: none;
}

#tooltip.hidden{
	display: none;
}

.trackText, #lyricText{
	cursor: default;
}

#info{
	width: 800px;
	margin: 20px auto;
	font-family: 'Raleway', sans-serif;
}

footer{
	font-family: 'Raleway', sans-serif;
	font-size: 0.85em;
}